.user-profile
  %section.info
    %article.main
      = image_tag @profile.image
      %section
        %h2
          = @profile.user_name
        .description
          %h3 About:
          %p
            = @profile.description

  %section.couches
    %h3 Couches
    %ul
      - @profile.user.couches.each do |couch|
        %li
          = link_to(couch_path(couch)) do
            = couch.name
            %br
            = "(#{couch.city})"
