<%= @couch.name %> <br>
<%= @couch.description %> <br>
host name <br>
couch picture(s) <br>
<%= @couch.street_address %> <br>
<%= @couch.city %> <br>
<%= @couch.state %> <br>
<%= @couch.zipcode %> <br>
<h1> Available Nights </h1>
<% @couch.nights.each do |night| %>
  <%= night.date %>
<% end %>