= @couch.name
%br/
= @couch.description
%br/
host name
%br/
couch picture(s)
%br/
= @couch.street_address
%br/
= @couch.city
%br/
= @couch.state
%br/
= @couch.zipcode
%br/
= form_tag(reservations_path, method: 'post') do
  
  %section.dates#datepicker 
    = text_field_tag "Couch_Listing_Check_In", placeholder="Check In"
    = text_field_tag "Couch_Listing_Check_Out", placeholder="Check Out"
    = hidden_field_tag "couch_id", @couch.id

    -if current_user
      = hidden_field_tag "user_id", current_user.id
      = submit_tag "Create Reservation"
    -else
      %h1 Please login to place a reservation.

%br
%h1 Available Nights
- @couch.nights.each do |night|
  = night.date
