.couch-listing
  %section.info
    %article.main
      - if @couch_default_thumb
        = image_tag(@couch.default_thumb)
      %h2
        = @couch.name
      %p
        = @couch.description
    %article.body
      .couch_info
        .name
          host
          %h3
            = @couch.host.first_name
        .city
          location
          %h3
            = "#{@couch.city}, #{@couch.state}"

      .dates#datepicker
        %h3 Want to book here?
        = form_tag(reservations_path, method: 'post') do
          = text_field_tag "Couch_Listing_Check_In", placeholder="Check In"
          = text_field_tag "Couch_Listing_Check_Out", placeholder="Check Out"
          = hidden_field_tag "couch_id", @couch.id

          -if current_user
            = hidden_field_tag "user_id", current_user.id
            = submit_tag "Create Reservation"
          -else
            %h1 Please login to place a reservation.

    %article.map
      %h2 Map coming soon...
