%section.vanilla_form
  %h1 Log Into Pad Crash
  %article
    = form_for :session, :url => "/login" do |f|
      %section.login
        = f.text_field :email, placeholder: "Email"
        = f.password_field :password, placeholder: "Password"
        = f.submit "Login"
        = link_to('Forgot Password', new_password_reset_path)
