%section.vanilla_form
  %h1 Create your Pad Crash Account
  %article
    = form_for @user do |f|
      = f.text_field :first_name, placeholder: "First Name"

      = f.text_field :last_name, placeholder: "Last Name"

      = f.text_field :email, placeholder: "Email"

      = f.telephone_field :phone_number, placeholder: "Phone Number"

      = f.password_field :password, placeholder: "Password"

      = f.password_field :password_confirmation, placeholder: "Confirm Password"

      = f.submit 'Sign Up'
