%section.dashboard
  %h1
    = "Welcome, #{current_user.first_name.capitalize}!"

  %article.main
    %section.info
      %h3
        Account Info
      %ul
        %li
          = "First Name: #{current_user.first_name}"
        %li
          = "Last Name: #{current_user.last_name}"
        %li
          = "Email: #{current_user.email}"
        %li
          = "Phone: #{current_user.phone_number}"

    %section.links
      %h3 What would you like to do?
      %ul
        %li
          = link_to('Add a Couch', new_user_couch_path(current_user, @couch) )
        %li
          = link_to('Plan a Trip', root_path )
