%h2 My Travel Reservations

%section.head
  %article Reference Number
  %article Couch
  %article Status
  %article From
  %article To

- @travel_reservations.each do |reservation|
  = link_to user_reservation_path(current_user, reservation) do
    %section.row
      %article
        = reservation.id
      %article
        = reservation.couch_name
      %article
        = reservation.status.capitalize
      %article
        = reservation.check_in
      %article
        = reservation.check_out

%h2 My Hosting Reservations

%section.head
  %article Reference Number
  %article Couch
  %article Status
  %article From
  %article To


- @host_reservations.each do |reservation|
  = link_to user_reservation_path(current_user, reservation) do
    %section.row
      %article
        = reservation.id
      %article
        = reservation.couch_name
      %article
        = reservation.status.capitalize
      %article
        = reservation.check_in
      %article
        = reservation.check_out
