%article.reservations
  %h2 My Travel Reservations

  %section.head
    %article Reference Number
    %article Couch
    %article Location
    %article From
    %article To

  - @travel_reservations.each do |reservation|
    %section.row
      %article
        = link_to(reservation.id, user_reservation_path(current_user, reservation))
      %article
        = link_to("#{reservation.couch_name[0..15]}...", couch_path(reservation.couch))
      %article
        = reservation.location
      %article
        = reservation.check_in
      %article
        = reservation.check_out

  %h2 My Hosting Reservations

  %section.head
    %article Reference Number
    %article Couch
    %article Status
    %article From
    %article To

  - @host_reservations.each do |reservation|
    %section.row
      %article
        = link_to(reservation.id, user_reservation_path(current_user, reservation))
      %article
        = link_to("#{reservation.couch_name[0..15]}...", user_couch_path(current_user, reservation.couch))
      %article
        = reservation.location
      %article
        = reservation.check_in
      %article
        = reservation.check_out
