
<p><%= @reservation.host_first_name %></p>
<p><%= @reservation.couch_name %></p>
<p><%= @reservation.traveler_first_name %></p>
<p><%= @reservation.check_in %></p>
<p><%= @reservation.check_out %></p>

<%= render partial: "form" %>

<% if @reservation.messages.empty? %>
  <p>There are no messages for this reservation yet.  Feel free to send a message.</p>
<% else %>
  <%= render partial: "messages" %>
<% end %>

