= form_for @photo do |f|
  = f.label :title
  = f.text_field :title

  = f.label :caption
  = f.text_field :caption

  .btn
    = f.label :image, "Upload photos in jpg, jpeg, gif, or png format."
    %span File
    = f.file_field :image
  .file-path-wrapper
    %input.file-path.validate{:type => "text"}

  = f.submit "Upload"

