.new-couch-photo
  %h2
    = "Add A Photo for #{@couch.name}"
  = form_for @photo do |f|
    = f.label :title
    = f.text_field :title

    = f.label :caption
    = f.text_field :caption

    .btn
      = f.label :image, "Upload photos in jpg, jpeg, gif, or png format."
      %span File
      = f.file_field :image

    = f.submit "Upload"

