- @couch.photos.each do |photo|
  = image_tag(photo.image)
= link_to("Add Couch Photos", new_couch_photo_path(@couch))
%br
= link_to('Add Availability', new_couch_night_path(@couch))
%br
= link_to('Host/'s Profile', user_profile_path(@couch.user_id, @couch.host.profile))
- @nights.each do |night|
  = night.date
