We have sent a confirmation code through SMS to the number associated with your account!
To begin your password reset, please enter your email and the 6-digit activation code.
= form_for(:confirmations, url: confirmations_path) do |f|
  = f.label :email
  = f.email_field :email
  = f.label :verification_code
  = f.text_field :verification_code, value: "Code", id: "Verification Code"
  = f.submit "Verify"
