%p
  = "#{pluralize(@query.couch_count, "couch")} in #{@query.city} available from #{@query.check_in} to #{@query.check_out}"
.available-couches
  %article.results

    %section
      #couches
        = render @query.couches

  %article.map


- content_for :scripts do
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: {},
      internal: {class: 'map'}
      },
      function(){
        markers = handler.addMarkers(#{raw @hash.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

