%p
  = "#{pluralize(@query.couch_count, "couch")} in #{@query.city} available starting on #{@query.check_in}"

%section.couches
  - @query.couches.each do |couch|
    %article
      %h2
        = couch.name
      %p
        = couch.description
      = button_to('Reserve', reservations_path( |
          couch_id: couch.id,                   |
          check_in: @query.check_in,            |
          check_out: @query.check_out))         |