%p
  = "#{pluralize(@query.couch_count, "couch")} in #{@query.city} available starting on #{@query.check_in}"
.available-couches
  %article.results

    %section
      #couches
        = render @couches
    = will_paginate @couches

  %article.map
    %h2 Map coming soon...