!!!
%html
  %head
    %title AirBnbClone
    <meta name="viewport" content="width=device-width, initial-scale=1">
    = csrf_meta_tags
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = render partial: 'layouts/nav'
    = render partial: 'layouts/flash'
    = yield


  %script{:src => "//maps.google.com/maps/api/js?key=#{ENV['google_maps_api']}",
          :async => "",}
  %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
  %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
  = javascript_include_tag 'application'
  = yield :javascripts